body {
	min-height:100vh;
	display:flex;
	flex-direction:column;
    font-family: Sans-serif,serif;
    margin: 0;
}
header {
    text-align: center;
    background:  red;
    color: white;
    
}


#resultat {
	border-collapse : collapse;
	
}

.alt_color tr td:nth-child(2n+6){ 
	background:#87c9ff;
}
td {
	border : 2px solid black;
}

tr:nth-child(odd) {
background-color: #b3c6e5;
}

#tableHeader{
background-color: #926FFF;
color : white;
border : 2px solid black;
}
th{
border : 2px solid black;
}


#status {
    background: grey;
    color: white;
    padding: 0em 1em 0em 1em;

}
#wrapper{
	margin-bottom:10px;
}

#content{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
#table {	
	float: left;
}
#option {
	float: right;
}
#example{
	color: grey;
	font-style: italic;
}
.outlined {
 outline : 2px solid black ;
 padding : 5px 5px 5px 5px ;
}
.margin {
	margin : 5px 5px 5px 5px;
}

footer {
    background: red;
    color: white;
}

footer ul {
    list-style-type: none;
}
